.header {
  background-color: var(--primary-violet);
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  font-size: large;
  color: var(--primary-white);
  margin-bottom: 3rem;
}

.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-search-setting {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

.dashboard-search-setting > .search {
  width: 85%;
  flex-shrink: 0;
}

.dashboard-search-setting > .setting-container {
  width: 15%;
  position: relative;
}

.search-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.search-container > label {
  font: bolder;
  font-size: 25px;
}

.search-container > input {
  width: 30%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.setting-container > .setting {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px 10px 5px;
}

.setting {
  border: 1px solid var(--primary-violet);
  cursor: pointer;
}

.setting-container > .setting > p {
  font: bolder;
  font-size: large;
}

.setting-option {
  position: absolute;
  width: 145px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.setting-option > p {
  padding: 0 5px;
}
.dashboard-btn {
  margin: 2rem 2rem;
}
.dashboard-btn > .btn {
  display: flex;
  gap: 5px;
}

.add-container > .add {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid var(--primary-violet);
  cursor: pointer;
}

.exportexcel-container > .exportexcel {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid var(--primary-violet);
  cursor: pointer;
}

.ag-grid-container {
  margin: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-grid {
  width: 100%;
  max-width: 1200px;
  height: 513px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* border-radius: 8px;  */
}

/* fly out css  */
.flyout-container {
  z-index: 999;
}
.flyout {
  position: fixed;
  top: 0;
  right: -300px; /* Start off-screen */
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.flyout.open {
  right: 0;
}

.flyout-title {
  font-size: 1.5rem;
  color: var(--primary-violet);
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  outline: none;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.save-button {
  background-color: var(--primary-blue);
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--primary-violet);
}

.cancel-button {
  background-color: var(--primary-white);
  color: var(--primary-violet);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--primary-violet);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
